@media screen and (max-width: 1400px) {
  #profile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80vh;
    gap: 2rem;
    text-align: center;
  }
  
  .section__pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: auto;
  }
  
  .section__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  .arrow {
    display: none;
  }
  #about {
    margin-top: 14vh;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
  }
  .section__pic-container img {
    width: 70%; /* Ensure the image takes full width of the container */
    height: auto; /* Maintain aspect ratio */
    max-width: 200px; /* Ensure the maximum width is 200px */
    max-height: 200px;
  }
  .section__text {
    width: 90%;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #profile {
    height: 80vh;
    gap: 0.5rem;
  }
  #about {
    padding-top: 14vh;
  }
  nav {
    height: 14vh;
  }
  .icon {
    height: 2rem;
    margin-top: 0px;
  }
  #contact,
  footer {
    height: 40vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: 200px;
    height: 200px;
  }
  .section__pic-container img {
    width: 70%; /* Ensure the image takes full width of the container */
    height: auto;
    max-width: 200px; 
    max-height: 200px; 
    object-fit: cover; 
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .section__text {
    width: 90%;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}